.message{
  color: #f5f5f5;
  display: flex;
  flex-direction: column;;
  &__name{
    font-size: .85rem;
    margin: 0;
    text-align: right;
  }
  &__text {
    margin-top: .5em;
    font-size: 1.1rem;
    background-color: #e7599f;
    border-radius: 7px 7px 0 7px;
    padding: .25em .5em;
    text-align: right;
    align-self: flex-end;
    max-width: 200px;
    overflow-wrap: break-word;
  }
}
.sent{
  align-self: flex-end;
}
.received{
  align-self: flex-start;
  border-radius: 7px 7px 7px 0px;
  .message__text{
    background-color: #2a45a9;
    text-align: left;
  }
  .message__name{
    text-align: left;
  }
}