.signup{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  &::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.58);
    z-index: 0;
    top: 0;
    left: 0;
  }
  &__title{
    font-size: 3.5rem;
    z-index: 10;
    color: white;
    margin-bottom: 0;
    span{
      z-index: 10;
      color: #aa80ff;
      font-size: 3.5rem;
    }
  }
  &__slogan{
    z-index: 10;
    margin: 0 0 2em;
    color: white;
  }
  &__desc{
    z-index: 10;
    color: white;
  }
  &__button{
    z-index: 10;
    background-color: #aa80ff !important;
    &:hover{
      box-shadow: 0px 3px 4px 3px rgba(104, 72, 162, 0.26) !important;
    }
  }
}
@media screen and (min-width: 1000px) {
  .signup{
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 4px 8px 8px rgba(128, 128, 128, 0.66);
    max-height: 800px;
  }
}